@model EmployeeTable.Models.Employee

@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@*Страница удаления существующего сотрудника

    LabelFor - отображение обозначения (названия) поля для воода
    DisplayFor - отображение значения поля
*@

<h3>Удаление сотрудника</h3>
@using (Html.BeginForm())
{

    <table>
        <tr class="header"> @*Строка с заголовками таблицы*@
            <td width="10%">
                @Html.LabelFor(model => model.IdEmployee, "Номер записи")
            </td>
            <td>
                @Html.LabelFor(model => model.Fullname, "Фамилия и инициалы")

            </td>
            <td>
                @Html.LabelFor(model => model.Position.Name, "Должность")
            </td>
        </tr>
        <tr>@*Строка с данными*@
            <td>
                @Html.DisplayFor(model => model.IdEmployee)
            </td>
            <td>
                @Html.DisplayFor(model => model.Fullname)
            </td>
            <td>
                @Html.DisplayFor(model => model.Position.Name)
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="Удалить" class="button15" />
            </td>
        </tr>
    </table>

}