@model IEnumerable<EmployeeTable.Models.Employee>
@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}



<h2>Сотрудники</h2>


<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<fieldset>
    <p>
        @Html.ActionLink("На главную", "Index", "Home")
    </p>
    <p>
        @Html.ActionLink("Добавить", "Newemp")
    </p>
    <table>
        <tr>
            @*<td>Номер записи</td>*@
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Полное имя</td>
            <td>Должность</td>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                    @Html.HiddenFor(model => item.idEmployee)
 

                <td>
                    @Html.DisplayFor(model => item.Surname)
                </td>


                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(model => item.Lastname)
                </td>

                <td>
                    @Html.DisplayFor(model => item.Fullname)
                </td>

                <td>
                    @Html.DisplayFor(model => item.Position)
                </td>
                <td>
                    @Html.ActionLink("X", "Delemp", new { id = item.idEmployee })
                </td>
                <td>
                    @Html.ActionLink("M", "ModifyEmp", new { id = item.idEmployee })
                </td>
            </tr>
        }
    </table>

  
</fieldset>
  
}


