@model IEnumerable<EmployeeTable.Models.Employee>
@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@*Страница отображающая всех сотрудников

    ActionLink - переход по ссылке на страницу
    DisplayFor - отображение значения поля
    HiddenFor - скрытое отображения поля
*@


<h3>Сотрудники</h3>

<table>
    @*Строка с заголовками таблицы*@
    <tr class="header">

        <td>Фамилия</td>
        <td>Имя</td>
        <td>Отчество</td>
        <td>Полное имя</td>
        <td>Должность</td>
        <td colspan="2"></td>
    </tr>
    @*Цикл, выбирающий сотрудников из модели*@
    @foreach (var item in Model)
    {
    <tr>
        @*Уникальный номер*@
        @Html.HiddenFor(model => item.IdEmployee)
        <td>
            @Html.DisplayFor(model => item.Surname)
        </td>


        <td>
            @Html.DisplayFor(model => item.Name)
        </td>

        <td>
            @Html.DisplayFor(model => item.Lastname)
        </td>

        <td>
            @Html.DisplayFor(model => item.Fullname)
        </td>

        <td>
            @Html.DisplayFor(model => item.Position.Name)
        </td>
        <td>
            @*Кнопка удаления*@
            @Html.ActionLink("X", "Delemp", new { id = item.IdEmployee }, new { @class = "DeleteEntry" })
        </td>
        <td>
            @*Кнопка редактирования*@
            @Html.ActionLink("M", "ModifyEmp", new { id = item.IdEmployee }, new { @class = "ModifyEntry" })
        </td>
    </tr>
    }
</table>




