@*@model IEnumerable<EmployeeTable.Models.Absence>*@
@model EmployeeTable.Models.AbsenceListViewModel

@{
   Layout = "~/Views/Layout/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    @*@RenderPage("Filter.cshtml")*@

    <form method="get">
        <div class="form-inline">
            <label class="control-label">ФИО: </label>
            @Html.DropDownList("Fullname", Model.Fullnames as SelectList,
                        htmlAttributes: new { @class = "form-control" })
            <label class="control-label">Должность: </label>
            @Html.DropDownList("Position", Model.Position as SelectList,
                        htmlAttributes: new { @class = "form-control" })
            <label class="control-label">Причина: </label>
            @Html.DropDownList("Reason", Model.Reason as SelectList,
                        htmlAttributes: new { @class = "form-control" })
            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>


    <p>
        @Html.ActionLink("Добавить запись", "Create")
    </p>

    <p>
        @Html.ActionLink("Сотрудники", "Employees")
    </p>
    <div>
        <table border="0">
            <tr class="header">
                @*<td>
                    <p># п/п</p>
                    </td>*@
                @*<td>
                        <p>Фамилия</p>
                    </td>
                    <td>
                        <p> Имя </p>
                    </td>
                    <td>
                        <p> Отчество </p>
                    </td>*@
                <td>
                    ФИО
                </td>
                <td>
                    <p> Должность </p>
                </td>
                <td>
                    <p> Дата </p>
                </td>
                <td>
                    <p> Причина </p>
                </td>
            </tr>
            @foreach (var item in Model.Absences)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelitem => item.IdAbsences)
                        </td>*@

                    @*<td>
                            @Html.DisplayFor(modelitem => item.Employee.Surname)
                        </td>

                        <td>
                            @Html.DisplayFor(modelitem => item.Employee.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Employee.Lastname)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelitem => item.Employee.Fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Employee.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Date, "{0:dd.MM.yyyy hh:mm}", new { @class = "form-control default-date-picker" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Reason)
                    </td>
                    <td>
                        @Html.ActionLink("X", "Delete", new { id = item.IdAbsences })
                    </td>
                    <td>
                        @Html.ActionLink("M", "Modify", new { id = item.IdAbsences })
                    </td>
                </tr>
            }
        </table>

    </div>


</body>
</html>
