@model EmployeeTable.Models.AbsenceListViewModel

@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@*
            "Главная страница". Содежит основной список сотрудников и дат их отсутствий. А так же причины

             DisplayFor - отображение значения поля
             ActionLink - переход по ссылке на страницу
             DropDownList - выпадающий список
    **@


<body>

    <h3>Список отсутствий</h3>

    <form method="get">
        <div class="form-inline">
            <table>
                <tr class="header">
                    @* Строка с фильтрами *@
                    <td>
                        <p>Фильтр</p>
                    </td>
                    <td>
                        <label class="control-label">ФИО: </label>
                        @Html.DropDownList("Fullname", Model.Fullnames as SelectList,
                                    htmlAttributes: new { @class = "form-control" })
                    </td>
                    <td>
                        <label class="control-label">Должность: </label>
                        @Html.DropDownList("Name", Model.Names as SelectList,
                                    htmlAttributes: new { @class = "form-control" })
                    </td>
                    <td>
                        <label class="control-label">Причина: </label>
                        @Html.DropDownList("Reason", Model.Reason as SelectList,
                                    htmlAttributes: new { @class = "form-control" })
                    </td>
                    <td>
                        <input type="submit" value="Применить" class="button15" />
                    </td>
                </tr>
            </table>
        </div>
    </form>

    <div>
        <table>
            @* Основная таблица *@
            @* Заголовок *@
            <tr class="header">
                <td>
                    ФИО
                </td>
                <td>
                    <p> Должность </p>
                </td>
                <td>
                    <p> Дата отсутствия</p>
                </td>
                <td>
                    <p> Причина отсутствия </p>
                </td>
                <td colspan="2"></td>
            </tr>
            @* Цикл выводящий строки из таблицы БД *@
            @foreach (var item in Model.Absences)
            {
                <tr>
                    <td>
                        @* ФИО *@
                        @Html.DisplayFor(modelitem => item.Employee.Fullname)
                    </td>
                    <td>
                        @* Должность *@
                        @*@Html.DisplayFor(modelitem => item.Employee.Position)*@
                        @Html.DisplayFor(modelitem => item.Employee.Position.Name)
                    </td>
                    <td>
                        @* Дата отсутствия *@
                        @Html.DisplayFor(modelitem => item.Date, "{0:dd.MM.yyyy hh:mm}", new { @class = "form-control default-date-picker" })
                    </td>
                    <td>
                        @*Причина отсутствия*@
                        @Html.DisplayFor(modelitem => item.Reason)
                    </td>
                    <td>
                        @*Кнопка удаления*@
                        @Html.ActionLink("X", "Delete", new { id = item.IdAbsences }, new { @class = "DeleteEntry" })
                    </td>
                    <td>
                        @Html.ActionLink("M", "Modify", new { id = item.IdAbsences }, new { @class = "ModifyEntry" })
                    </td>
                </tr>
            }
        </table>

    </div>


</body>
